<div class="col-md-8 col-md-offset-2">
    <h2>Add New Movie</h2><br>
    <form ng-submit="new.add()">
        <input type="text" class="form-control" placeholder="IMDB Number" ng-model="new.data.imdb"><br>
        <input type="text" class="form-control" placeholder="Title" ng-model="new.data.title"><br>
        <input type="text" class="form-control" placeholder="Release Country" ng-model="new.data.releaseCountry"><br>
        <input type="text" class="form-control" placeholder="Release Date" ng-model="new.data.releaseDate"><br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form><br><br>
    <div class="alert alert-success" ng-show="new.success_msg">
        <strong>Success!</strong> {{new.success_msg}}
    </div>
    <div class="alert alert-danger" ng-show="new.error_msg">
        <strong>Error!</strong> {{new.error_msg}}
    </div>
</div>