<div class="col-md-8 col-md-offset-2">
    <h2>Update Movie</h2><br>
    <form ng-submit="update.update()">
        <input type="text" class="form-control" placeholder="IMDB Number" ng-model="update.movie_data.imdbId"><br>
        <input type="text" class="form-control" placeholder="Title" ng-model="update.movie_data.title"><br>
        <input type="text" class="form-control" placeholder="Release Country" ng-model="update.movie_data.releaseCountry"><br>
        <input type="text" class="form-control" placeholder="Release Date" ng-model="update.movie_data.releaseDate"><br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form><br><br>
    <div class="alert alert-success" ng-show="update.success_msg">
        <strong>Success!</strong> {{update.success_msg}}
    </div>
    <div class="alert alert-danger" ng-show="update.error_msg">
        <strong>Danger!</strong> {{update.error_msg}}
    </div>
</div>